.idea/
.vscode/
node_modules*/

/**/dist/
/**/dist-*/
/packages/**/README.md
!/packages/virtual-resource-loader/README.md
.cache/

**/*.vocab/index.ts

.DS_Store
*.tgz
*.tsbuildinfo
npm-debug.log
package-lock.json
yarn-error.log
yarn.lock
