name: Validate

on:
  - pull_request
  - push

jobs:
  validate:
    name: Lint & Test
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - name: Check out repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          cache: pnpm
          node-version-file: package.json

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Cache Puppeteer
        uses: actions/cache@v3
        with:
          path: .cache
          key: puppeteer-${{ runner.os }}-${{ hashFiles('./pnpm-lock.yaml') }}

      - name: Build
        run: pnpm build

      - name: Compile fixtures
        run: pnpm compile-fixtures

      - name: Lint
        run: pnpm lint

      - name: Test
        run: pnpm test
