name: Validate

on:
  - pull_request
  - push

jobs:
  validate:
    name: Lint & Test
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - name: Check out repo
        uses: actions/checkout@master

      - name: Set up Node.js 12.x
        uses: actions/setup-node@master
        with:
          node-version: 12.x

      - name: Install dependencies
        run: yarn install --frozen-lockfile && yarn build && yarn compile-fixtures && yarn test

      - name: Build
        run: yarn build

      - name: Compile fixtures
        run: yarn compile-fixtures

      - name: Lint
        run: yarn lint

      - name: Test
        run: yarn test
